//ERROR 404//



@media screen and (max-width: 480px) {
    .error404-1 img {
        width:100%;
        height: 80vh;
    }
    .error404-2{
        background-color:rgb(29, 29, 29);
        width: 100%;
        height: 10vh;
    }

    .volver{
        color:$maincolor;
        text-decoration: none;
        font-size: $textoChico;
        font-family: $textoTitulo;
        text-transform: uppercase;
    
    }
  
   
}

@media screen and (min-width: 481px) and (max-width: 890px) {
    
.error404-1 img {
        width:100%;
        height: 100vh;
    }

.error404-2{
    background-color:rgb(29, 29, 29);
    width: 100%;
    height: 10vh;

}
.volver{
    color:$maincolor;
    text-decoration: none;
    font-size: $textoM;
    font-family: $textoTitulo;
    display: flex;
    text-align: center;
    text-transform: uppercase;

}
}


@media screen and (min-width: 891px) and (max-width: 1600px) {
    
    .error404-1 img {
        width:100%;
        height:100vh;
    }

    .error404-2{
        background-color:rgb(29, 29, 29);
        width:100%;
        height: 10vh;
    }

    .volver{
        color:$maincolor;
        text-decoration: none;
        font-size: $textoM;
        font-family: $textoTitulo;
        display: flex;
        text-align: center;
        text-transform: uppercase;
    
    }
    .error404-2 p{
        display: flex;
        flex-direction: center;
        text-decoration: none;
    }
}

//VIDEO//



@media screen and (max-width: 480px) {
    .videoshow video{
        width:100%;
        height: 80vh;
    }
  
    
}

@media screen and (min-width: 481px) and (max-width: 890px) {
    
.videoshow video {
        width:100%;
        height: 100vh;
    }

}


@media screen and (min-width: 891px) and (max-width: 1600px) {
    
    .videoshowvideo{
        width:100%;
        height:100vh;
        background-position: center center;
    }
        
   
}


